<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group my-4">
    <label class="my-2"><strong>Date</strong></label>
    <input
      type="date"
      formControlName="date"
      class="form-control cursor-pointer"
    />
    <small
      class="form-text text-danger"
      *ngIf="Date.errors?.['required'] && (Date.dirty || Date.touched)"
      >Date is required</small
    >
  </div>
  <div class="form-group">
    <!-- <label class="my-2"><strong>Location</strong></label> -->
    <!-- <select formControlName="location" class="form-control">
      <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
    </select> -->
    <!-- <div class="form-group">
      <select
        formControlName="locationId"
        class="form-control custom-dropdown cursor-pointer"
      >
        <option value="" disabled selected>Select Location</option>
        <option *ngFor="let loc of locations" [value]="loc.locationId">
          {{ loc.name }}
        </option>
      </select>
    </div> -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label> <strong>Location</strong> </mat-label>
      <input
        formControlName="locationId"
        matInput
        type="text"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let loc of filteredLocations" [value]="loc.name">
          {{ loc.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- <input type="hidden" formControlName="locationId" /> -->
    <small
      class="form-text text-danger"
      *ngIf="LocationId.errors?.['required'] && (LocationId.dirty || LocationId.touched)"
      >Location is required</small
    >
  </div>
  <div class="form-group">
    <label class="my-2"><strong>Hours</strong></label>
    <input
      type="number"
      formControlName="hours"
      class="form-control cursor-pointer"
    />
    <small
      class="form-text text-danger"
      *ngIf="Hours.errors?.['required'] && (Hours.dirty || Hours.touched)"
      >Hours value is required</small
    >
  </div>
  <div class="form-group mt-3">
    <label class="my-2"><strong>Non-billable/Billable</strong></label>
    <select
      formControlName="billable"
      class="form-control custom-dropdown cursor-pointer"
    >
      <option value="" disabled selected>Select Value</option>
      <option value="Billable">Billable</option>
      <option value="Non-Billable">Non-billable</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary my-3">Submit</button>
</form>
