<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Date</label>
    <input type="date" formControlName="date" class="form-control" />
    <small
      class="form-text text-danger"
      *ngIf="Date.errors?.['required'] && (Date.dirty || Date.touched)"
      >Date is required</small
    >
  </div>
  <div class="form-group">
    <label>Location</label>
    <!-- <select formControlName="location" class="form-control">
      <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
    </select> -->
    <div class="form-group">
      <select formControlName="locationId" class="form-control custom-dropdown">
        <option value="" disabled selected>Select Location</option>
        <option *ngFor="let loc of locations" [value]="loc.locationId">
          {{ loc.name }}
        </option>
      </select>
    </div>
    <small
      class="form-text text-danger"
      *ngIf="LocationId.errors?.['required'] && (LocationId.dirty || LocationId.touched)"
      >Location is required</small
    >
  </div>
  <div class="form-group">
    <label>Hours</label>
    <input type="number" formControlName="hours" class="form-control" />
    <small
      class="form-text text-danger"
      *ngIf="Hours.errors?.['required'] && (Hours.dirty || Hours.touched)"
      >Hours value is required</small
    >
  </div>
  <div class="form-group">
    <label>Non-billable/Billable</label>
    <select formControlName="billable" class="form-control custom-dropdown">
      <option value="" disabled selected>Select Value</option>
      <option value="Billable">Billable</option>
      <option value="Non-Billable">Non-billable</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
